h1 {
    font-size: 3.5rem;
}

#panel,.guess-history {
    letter-spacing: .4rem;
}

#message {
    letter-spacing: .2rem;
}

#back {
    background: #1fc8db;
    background-image: url(../images/square_bg/square_bg.png), linear-gradient(90deg, #9fb8ad 8%, #1fc8db 70%, #2cb5e8 95%);
}

.new-font {
    font-family: 'Bangers', cursive;
}

#color-tile {
    height: 50px;
    width: 100px;
}

/* color classes */
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.grey{
    background-color: grey;
}
.khaki{
    background-color: khaki;
}
.purple{
    background-color: purple;
}
.aquamarine{
    background-color: aquamarine;
}
.pink{
    background-color: pink;
}
.tan{
    background-color: tan;
}
.teal{
    background-color: teal;
}
.turquoise{
    background-color: turquoise;
}
.sienna{
    background-color: sienna;
}
.cyan{
    background-color: cyan;
}
.chartreuse{
    background-color: chartreuse;
}
.chocolate{
    background-color: chocolate;
}
.magenta{
    background-color: magenta;
}
.white{
    background-color: white;
}
.orange{
    background-color: orange;
}
.olive{
    background-color: olive;
}
.plum{
    background-color: plum;
}
.silver{
    background-color: silver;
}
.gold{
    background-color: gold;
}
.lime{
    background-color: lime;
}
.crimson{
    background-color: crimson;
}
.coral{
    background-color: coral;
}
.violet{
    background-color: violet;
}
.navy{
    background-color: navy;
}